DB_HOST=localhost
DB_USER=root
DB_PASS=sua_senha_aqui
DB_NAME=stockflow

JWT_SECRET=troque_por_uma_chave_secreta_longa
JWT_RESET_SECRET=troque_por_outra_chave_secreta_longa

RECAPTCHA_SECRET=sua_secret_key_do_google_recaptcha

# Para desenvolvimento use Mailtrap (https://mailtrap.io)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USER=seu_usuario_mailtrap
EMAIL_PASS=sua_senha_mailtrap

PORT=3001
